<section class="section-wrapper-{{section.id}} double-column-image">
    {%- for block in section.blocks -%}
        {%- case block.type -%}
            {%-when 'image'%}
                <div class="image-wrapper-{{block.id}} double-image">
                    
                
                {%- if block.settings.background_enable_image1 == true -%}
                    <div class="background-image-wrapper-{{block.id}} background-enabled-image1-{{block.id}}">
                {%- endif -%}
                    
                
                        <div class="image-wrapper-{{block.id}} image1">
                            <img src="{{block.settings.first_image | img_url: 'master'}}">
                        </div>

                        
                        
                {%- if block.settings.background_enable_image1 == true -%}
                    </div>
                {%- endif -%}

                {%- if block.settings.background_enable_image2 == true -%}
                    <div class="background-image-wrapper-{{block.id}} background-enabled-image2-{{block.id}}">
                {%- endif -%}
                        <div class="image-wrapper-{{block.id}} image2">
                            <img src="{{block.settings.second_image | img_url: 'master'}}">
                        </div>
                       
                {%- if block.settings.background_enable_image2 == true -%}
                    </div>
                {%- endif -%}
                    
                </div>

                <div class="caption-wrapper-{{block.id}}">
                    <div class="first-caption-wrapper-{{block.id}} caption1">

                        
                            {{block.settings.caption_image1}}
                        
                    </div>
                    <div class="second-caption-wrapper-{{block.id}} caption2">
                        
                            {{block.settings.caption_image2}}
                        
                    </div>
                </div>
            {%- when 'spacer-block' -%}
                <div class="spacer-wrapper-{{block.id}}">
                
                </div>
        {%- endcase -%}
    {%- endfor -%}
</section>



<style>
    {% if section.settings.section_width == "custom" %}
        .section-wrapper-{{section.id}}{
            width: {{section.settings.custom_section_width}}px;
            margin: 0 auto;
        }
        {% else %}
            .section-wrapper-{{section.id}}{
                width: {{section.settings.section_width}}px;
                margin: 0 auto;
            }
    {% endif %}
    @media screen and (max-width: 375px) {
        .section-wrapper-{{section.id}}{
            width: 375px;
            padding: 0 15px 0 15px;
            margin: 0 auto;
        }
      }
    {%- for block in section.blocks -%}
        {%- case block.type -%}
            {%-when 'image'%}
                {%- if section.settings.section_width == "custom" -%}
                    .section-wrapper-{{section.id}} .image-wrapper-{{block.id}}.double-image{
                        height: {{section.settings.custom_section_width | times: 0.625 }}px;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                        {%- if block.settings.switch_images == true -%}
                            .section-wrapper-{{section.id}} .image-wrapper-{{block.id}}.double-image{
                                flex-direction: row-reverse;
                            }
                        {%- endif -%}
                        {%- if block.settings.gap_enabled == true -%}
                            .section-wrapper-{{section.id}} .image-wrapper-{{block.id}}.double-image{
                                column-gap: {{block.settings.gap_images_size}}px;
                            }
                        {%- endif -%}
                    {%- else -%}
                    .section-wrapper-{{section.id}} .image-wrapper-{{block.id}}.double-image{
                        height: {{section.settings.section_width | times: 0.625 }}px;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                        {%- if block.settings.switch_images == true -%}
                            .section-wrapper-{{section.id}} .image-wrapper-{{block.id}}.double-image{
                                flex-direction: row-reverse;
                            }
                        {%- endif -%}
                        {%- if block.settings.gap_enabled == true -%}
                            .section-wrapper-{{section.id}} .image-wrapper-{{block.id}}.double-image{
                                column-gap: {{block.settings.gap_images_size}}px;
                            }
                        {%- endif -%}
                {%-  endif -%}

                {%- if section.settings.section_width == "967" or section.settings.section_width == "1200" -%}
                    @media screen and (max-width: 375px) {
                        .section-wrapper-{{section.id}} .image-wrapper-{{block.id}}.double-image{
                            height: 100%;
                            flex-direction: column;
                        }
                    }
                    {%- else -%}
                    @media screen and (max-width: 375px) {
                        .section-wrapper-{{section.id}} .image-wrapper-{{block.id}}.double-image{
                            height: 216px;
                        }
                    }
                {%- endif -%}
                    
                {%- if block.settings.background_enable_image1 == true -%}
                    .background-image-wrapper-{{block.id}}.background-enabled-image1-{{block.id}}{
                        height: 100%;
                        width: 50%;
                        background: {{block.settings.background_color_image1}};
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: {{block.settings.background_enabled_image1_padding}}%;
                    }
                    {%- if section.settings.section_width == "967" or section.settings.section_width == "1200" -%}
                        @media screen and (max-width: 375px) {
                            .background-image-wrapper-{{block.id}}.background-enabled-image1-{{block.id}}{
                                width: 100%
                            }
                        }
                        {%- else -%}
                        @media screen and (max-width: 375px) {
                            .background-image-wrapper-{{block.id}}.background-enabled-image1-{{block.id}}{
                                width: 50%;
                            }
                        }
                    {%- endif -%}
                        {%- if section.settings.section_width == "custom" -%}
                            .image-wrapper-{{block.id}}.image1{
                                height: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                {% comment %} width: {{block.settings.background_enabled_image1_width}}px; {% endcomment %}
                                max-width: {{section.settings.custom_section_width | divided_by: 2}}px;
                                {% comment %} margin: 0 auto; {% endcomment %}
                            }
                        {%- else -%}
                            .image-wrapper-{{block.id}}.image1{
                                height: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                {% comment %} width: {{block.settings.background_enabled_image1_width}}px; {% endcomment %}
                                max-width: {{section.settings.section_width | divided_by: 2}}px;
                                {% comment %} margin: 0 auto; {% endcomment %}
                            }
                        {%- endif -%}
                {%- else -%}
                    .image-wrapper-{{block.id}}.image1{
                        height: 100%;
                        width: 50%;
                    }
                    {%- if section.settings.section_width == "967" or section.settings.section_width == "1200" -%}
                        @media screen and (max-width: 375px) {
                            .image-wrapper-{{block.id}}.image1{
                                width: 100%;
                            }
                        }
                    {%- endif -%}
                {%- endif -%}
                        .image-wrapper-{{block.id}}.image1 img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                        {% comment %} {%- if block.settings.add_captioin_image1 == true -%}
                            .caption-wrapper-{{block.id}}.caption1{
                                font-size: {{block.settings.caption_font_size_image1}}px;
                                font-family: {{block.settings.caption_font_family_image1}};
                                color: {{block.settings.caption_font_color_image1}};
                                text-align: {{block.settings.caption_alignment_image1}};
                            }
                        {%- endif -%} {% endcomment %}
                       
                {%- if block.settings.background_enable_image2 == true -%}
                    .background-image-wrapper-{{block.id}}.background-enabled-image2-{{block.id}}{
                        height: 100%;
                        width: 50%;
                        background: {{block.settings.background_color_image2}};
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: {{block.settings.background_enabled_image2_padding}}%;
                    }
                    {%- if section.settings.section_width == "967" or section.settings.section_width == "1200" -%}
                        @media screen and (max-width: 375px) {
                            .background-image-wrapper-{{block.id}}.background-enabled-image2-{{block.id}}{
                                width: 100%;
                            }
                        }
                        {%- else -%}
                        @media screen and (max-width: 375px) {
                            .background-image-wrapper-{{block.id}}.background-enabled-image2-{{block.id}}{
                                width: 50%;
                            }
                        }
                    {%- endif -%}
                        {%- if section.settings.section_width == "custom" -%}
                            .image-wrapper-{{block.id}}.image2{
                                height: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                {% comment %} width: {{block.settings.background_enabled_image2_width}}px; {% endcomment %}
                                max-width: {{section.settings.custom_section_width | divided_by: 2}}px;
                                {% comment %} margin: 0 auto; {% endcomment %}
                            }
                        {%- else -%}
                            .image-wrapper-{{block.id}}.image2{
                                height: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                {% comment %} width: {{block.settings.background_enabled_image2_width}}px; {% endcomment %}
                                max-width: {{section.settings.section_width | divided_by: 2}}px;
                                {% comment %} margin: 0 auto; {% endcomment %}
                            }
                        {%- endif -%}
                {%- else -%}
                    .image-wrapper-{{block.id}}.image2{
                        height: 100%;
                        width: 50%;
                    }
                    {%- if section.settings.section_width == "967" or section.settings.section_width == "1200" -%}
                        @media screen and (max-width: 375px) {
                            .image-wrapper-{{block.id}}.image2{
                                width: 100%;
                            }
                        }
                    {%- endif -%}
                {%- endif -%}
                        .image-wrapper-{{block.id}}.image2 img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                       
                        .caption-wrapper-{{block.id}} .first-caption-wrapper-{{block.id}}.caption1 p{
                            text-align: {{block.settings.caption_alignment_image1}};
                        }
                        .caption-wrapper-{{block.id}} .second-caption-wrapper-{{block.id}}.caption2 p{
                            text-align: {{block.settings.caption_alignment_image2}};
                        }
                        {%- if block.settings.switch_images == true -%}
                            .caption-wrapper-{{block.id}}{
                                display: flex;
                                flex-direction: row-reverse;
                            }
                            {%- else -%}
                            .caption-wrapper-{{block.id}}{
                                display: flex;
                                flex-direction: row;
                            }
                        {%- endif -%}
                        {%- if block.settings.gap_enabled == true -%}
                            .caption-wrapper-{{block.id}}{
                                column-gap: {{block.settings.gap_images_size}}px;
                            }
                        {%- endif -%}
                        {%- if block.settings.add_caption_image1 == false and block.settings.add_caption_image2 == false -%}
                            .caption-wrapper-{{block.id}}{
                                display: none;
                            }
                            {%- else -%}
                            
                            .caption-wrapper-{{block.id}} .first-caption-wrapper-{{block.id}}.caption1{
                                width: 50%;
                            }
                            .caption-wrapper-{{block.id}} .second-caption-wrapper-{{block.id}}.caption2{
                                width: 50%;
                                font-size: {{block.settings.caption_font_size_image2}}px;
                                font-family: {{block.settings.caption_font_family_image2}};
                                color: {{block.settings.caption_font_color_image2}}; 
=======
                             
>>>>>>> 32a35aaef0738852e415b55ec63b372e4711a132
                            }
                            {%- if block.settings.add_caption_image1 == true -%}
                                .caption-wrapper-{{block.id}} .first-caption-wrapper-{{block.id}}.caption1{
                                    {% comment %} width: 50%; {% endcomment %}
                                    font-size: {{block.settings.caption_font_size_image1}}px;
                                    font-family: {{block.settings.caption_font_family_image1}};
                                    color: {{block.settings.caption_font_color_image1}};
                                    
                                }
                                
                                {%- else -%}
                                .caption-wrapper-{{block.id}} .first-caption-wrapper-{{block.id}}.caption1{
                                    {% comment %} width: 50%; {% endcomment %}
                                    visibility: hidden; 
                                }
                            {%- endif -%}
                            {%- if block.settings.add_caption_image2 == true -%}
                                .caption-wrapper-{{block.id}} .second-caption-wrapper-{{block.id}}.caption2{
                                    {% comment %} width: 50%; {% endcomment %}
                                    
                                    
                                }
                                
                                {%- else -%}
                                .caption-wrapper-{{block.id}} .second-caption-wrapper-{{block.id}}.caption2{
                                    {% comment %} width: 50%; {% endcomment %}
                                    visibility: hidden; 
                                }
                            {%- endif -%}
                                
                                
                            {%- endif -%}
                    
            {%- when 'spacer-block' -%}
                .section-wrapper-{{section.id}} .spacer-wrapper-{{block.id}}{
                    height: {{block.settings.spacer_height}}px;
                }
        {%- endcase -%}
    {%- endfor -%}
</style>




{% schema %}
    {
        "name": "Double Column Image",
        "class": "double-column-image",
        "settings": [
            {
                "type": "select",
                "id": "section_width",
                "label": "Section Width",
                "options": [
                    {
                        "value": "600",
                        "label": "Small"
                    },
                    {
                        "value": "967",
                        "label": "Medium"
                    },
                    {
                        "value": "1200",
                        "label": "Large"
                    },
                    {
                        "value": "custom",
                        "label": "Custom"
                    }
                ],
                "default": "967"
            },
            {
                "type": "range",
                "id": "custom_section_width",
                "label": "Custom Section Width",
                "min": 200,
                "max": 1200,
                "step": 10,
                "unit": "px",
                "default": 600
            }
        ],
        "blocks": [
            {
                "type": "image",
                "name":  "Image",
                "settings": [
                    {
                        "type": "checkbox",
                        "id": "background_enable_image1",
                        "label": "Add Background Color to First Image",
                        "default": false
                    },
                    {
                        "type": "color",
                        "id": "background_color_image1",
                        "label": "First Image Background Color",
                        "default": "#FFFFFF"
                    },
                    {
                        "type": "range",
                        "id": "background_enabled_image1_padding",
                        "min": 0,
                        "max": 15,
                        "step": 1,
                        "unit": "%",
                        "label": "First Image Padding(Applicable if background color is selected)",
                        "default": 6
                    },
                    {
                        "type": "image_picker",
                        "id": "first_image",
                        "label": "Select First Image"
                    },
                    {
                        "type": "checkbox",
                        "id": "add_caption_image1",
                        "label": "Add Caption for First Image",
                        "default": false
                    },
                    {
                        "type": "richtext",
                        "id": "caption_image1",
                        "label": "First Image Caption",
                        "default": "<p>Add caption for first image</p>"
                    },
                    {
                        "type": "font",
                        "id": "caption_font_family_image1",
                        "label": "First Caption Font Family"
                    },
                    {
                        "type": "color",
                        "id": "caption_font_color_image1",
                        "label": "First Caption Text Color",
                        "default": "#000000"
                    },
                    {
                        "type": "range",
                        "id": "caption_font_size_image1",
                        "min": 10,
                        "max": 50,
                        "step": 1,
                        "unit": "px",
                        "label": "First Caption Font Size",
                        "default": 15
                    },
                    {
                        "type": "select",
                        "id": "caption_alignment_image1",
                        "label": "First Caption Alignment",
                        "options": [
                            {
                                "value": "left",
                                "label": "Left"
                            },
                            {
                                "value": "center",
                                "label": "Center"
                            },
                            {
                                "value": "right",
                                "label": "Right"
                            }
                        ],
                        "default": "left"
                    },
                    {
                        "type": "range",
                        "id": "caption_line_height_image1",
                        "min": 0,
                        "max": 200,
                        "step": 2,
                        "unit": "px",
                        "label": "First Caption Line Height",
                        "default": 0
                    },
                    

                    {
                        "type": "checkbox",
                        "id": "switch_images",
                        "label": "Switch Images",
                        "default": false
                    },

                    {
                        "type": "checkbox",
                        "id": "gap_enabled",
                        "label": "Enable Gap Between Images",
                        "default": false
                    },
                    {
                        "type": "range",
                        "id": "gap_images_size",
                        "min": 10,
                        "max": 210,
                        "step": 2,
                        "unit": "px",
                        "label": "Gap Between Images",
                        "default": 50
                    },
                      


                    
                    {
                        "type": "checkbox",
                        "id": "background_enable_image2",
                        "label": "Add Background Color to Second Image",
                        "default": false
                    },
                    {
                        "type": "color",
                        "id": "background_color_image2",
                        "label": "Second Image Background Color",
                        "default": "#FFFFFF"
                    },
                    {
                        "type": "range",
                        "id": "background_enabled_image2_padding",
                        "min": 0,
                        "max": 15,
                        "step": 1,
                        "unit": "%",
                        "label": "Second Image Padding(Applicable if background color is selected)",
                        "default": 6
                    },
                    {
                        "type": "image_picker",
                        "id": "second_image",
                        "label": "Select Second Image"
                    },
                    {
                        "type": "checkbox",
                        "id": "add_caption_image2",
                        "label": "Add Caption for Second Image",
                        "default": false
                    },
                    {
                        "type": "richtext",
                        "id": "caption_image2",
                        "label": "Second Image Caption",
                        "default": "<p>Add caption for second image</p>"
                    },
                    {
                        "type": "font",
                        "id": "caption_font_family_image2",
                        "label": "Second Caption Font Family"
                    },
                    {
                        "type": "color",
                        "id": "caption_font_color_image2",
                        "label": "Second Caption Text Color",
                        "default": "#000000"
                    },
                    {
                        "type": "range",
                        "id": "caption_font_size_image2",
                        "min": 10,
                        "max": 50,
                        "step": 1,
                        "unit": "px",
                        "label": "Second Caption Font Size",
                        "default": 15
                    },
                    {
                        "type": "select",
                        "id": "caption_alignment_image2",
                        "label": "Second Caption Alignment",
                        "options": [
                            {
                                "value": "left",
                                "label": "Left"
                            },
                            {
                                "value": "center",
                                "label": "Center"
                            },
                            {
                                "value": "right",
                                "label": "Right"
                            }
                        ],
                        "default": "left"
                    },
                    {
                        "type": "range",
                        "id": "caption_line_height_image2",
                        "min": 0,
                        "max": 200,
                        "step": 2,
                        "unit": "px",
                        "label": "Second Caption Line Height",
                        "default": 0
                    }
                      
                ]
            },
            {
                "type": "spacer-block",
                "name": "Spacer",
                "settings":[
                    {
                        "type": "range",
                        "id": "spacer_height",
                        "min": 0,
                        "max": 200,
                        "step": 2,
                        "unit": "px",
                        "label": "Spacer Height",
                        "default": 20
                    }
                ]
            }
        ],
        "presets" : [
            {
                "name": "Double Column Image",
                "blocks":[
                    {
                        "type": "image"
                    }
                ]
            }
        ]
    }
{% endschema %}