<style>

    {% if section.settings.section_width == "custom" %}
        .section-wrapper-{{section.id}}{
            width: {{section.settings.custom_section_width}}px;
            margin: 0 auto;
        }
        {% else %}
            .section-wrapper-{{section.id}}{
                width: {{section.settings.section_width}}px;
                margin: 0 auto;
            }
    {% endif %}
    
    @media screen and (max-width: 1200px) {
        .section-wrapper-{{section.id}}{
            width: 100%;
            padding: 0 15px 0 15px;
            margin: 0 auto;
        }
      }
    

    {%- for block in section.blocks -%}
        {%- case block.type -%}
            {%-when 'image'%}
            .section-wrapper-{{section.id}} .image-text-wrapper-{{block.id}}.image-text {
                width: 100%;
            }
            .section-wrapper-{{section.id}} .image-wrapper-{{block.id}}.image{
                width: 100%;
              }
            .section-wrapper-{{section.id}} .image-wrapper-{{block.id}}.image img{
                width: 100%;
                object-fit: cover;
              }
                {%- if block.settings.add_captioin == true -%}
                    .section-wrapper-{{section.id}} .text-wrapper-{{block.id}}{
                        text-align: {{block.settings.caption_alignment}};
                        font-size: {{block.settings.caption_font_size}}px;
                        font-family: {{block.settings.caption_font_family}};
                        color: {{block.settings.caption_font_color}};
                    }
                    .section-wrapper-{{section.id}} .text-wrapper-{{block.id}} p{
                        line-height: {{block.settings.caption_line_height}}px;
                        margin: 0;
                    }
                {%- endif -%}
                @media screen and (max-width: 1200px) {
                    .section-wrapper-{{section.id}} .image-wrapper-{{block.id}}.image{
                        width: 100%;
                        object-fit: cover;
                      }
                  }
                  @media screen and (min-width: 640px) and (max-width: 1200px) {
                    .section-wrapper-{{section.id}} .image-text-wrapper-{{block.id}}.image-text{
                        {%- if section.settings.section_width == "600" -%}
                            width: 50%; 
                            {% elsif section.settings.section_width == "967" %}
                            width: 80%; 
                            {% elsif section.settings.section_width == "1200" %}
                            width: 100%;
                        {%- endif -%}
                        margin: 0 auto;
                      }
                  }
            {%- when 'spacer-block' -%}
                    .section-wrapper-{{section.id}} .spacer-wrapper-{{block.id}}{
                        height: {{block.settings.spacer_height}}px;
                    }
                    @media screen and (max-width: 640px) {
                        .section-wrapper-{{section.id}} .spacer-wrapper-{{block.id}}{
                            height: 60px;
                        }
                      }
        {%- endcase -%}
    {%- endfor -%}
</style>

<div class="section-wrapper-{{section.id}} single-column-image">
    {%- for block in section.blocks -%}
        {%- case block.type -%}
            {%-when 'image'%}
                <div class="image-text-wrapper-{{block.id}} image-text">
                    <div class="image-wrapper-{{block.id}} image">
                        <img src="{{block.settings.image_with_text_image | img_url: 'master'}}">
                    </div>
                    {%- if block.settings.add_captioin == true -%}
                        <div class="text-wrapper-{{block.id}} text">
                            {{block.settings.caption}}
                        </div>
                    {%- endif -%}
                </div>
            {%- when 'spacer-block' -%}
                <div class="spacer-wrapper-{{block.id}}">
                
                </div>
        {%- endcase -%}
    {%- endfor -%}
</div>

{% schema %}
    {
        "name": "Single Column Image",
        "class": "single-column-image",
        "settings": [
            {
                "type": "select",
                "id": "section_width",
                "label": "Section Width",
                "options": [
                    {
                        "value": "600",
                        "label": "Small"
                    },
                    {
                        "value": "967",
                        "label": "Medium"
                    },
                    {
                        "value": "1200",
                        "label": "Large"
                    },
                    {
                        "value": "custom",
                        "label": "Custom"
                    }
                ],
                "default": "967"
            },
            {
                "type": "range",
                "id": "custom_section_width",
                "label": "Custom Section Width",
                "min": 200,
                "max": 1200,
                "step": 10,
                "unit": "px",
                "default": 600
            }
        ],
        "blocks": [
            {
                "type": "image",
                "name":  "Image",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "image_with_text_image",
                        "label": "Select An Image"
                    },
                    {
                        "type": "checkbox",
                        "id": "add_captioin",
                        "label": "Add Caption",
                        "default": false
                    },
                    {
                        "type": "richtext",
                        "id": "caption",
                        "label": "Caption",
                        "default": "<p>Add a caption here</p>"
                    },
                    {
                        "type": "font",
                        "id": "caption_font_family",
                        "label": "Caption Font Family"
                    },
                    {
                        "type": "color",
                        "id": "caption_font_color",
                        "label": "Caption Text Color",
                        "default": "#000000"
                    },
                    {
                        "type": "range",
                        "id": "caption_font_size",
                        "min": 10,
                        "max": 50,
                        "step": 1,
                        "unit": "px",
                        "label": "Caption Font Size",
                        "default": 15
                    },
                    {
                        "type": "select",
                        "id": "caption_alignment",
                        "label": "Caption Alignment",
                        "options": [
                            {
                                "value": "left",
                                "label": "Left"
                            },
                            {
                                "value": "center",
                                "label": "Center"
                            },
                            {
                                "value": "right",
                                "label": "Right"
                            }
                        ],
                        "default": "left"
                    },
                    {
                        "type": "range",
                        "id": "caption_line_height",
                        "min": 0,
                        "max": 200,
                        "step": 2,
                        "unit": "px",
                        "label": "Line Height",
                        "default": 0
                    }  
                ]
            },
            {
                "type": "spacer-block",
                "name": "Spacer",
                "settings":[
                    {
                        "type": "range",
                        "id": "spacer_height",
                        "min": 0,
                        "max": 200,
                        "step": 2,
                        "unit": "px",
                        "label": "Spacer Height",
                        "default": 20
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Single Column Image",
                "blocks": [
                    {
                        "type": "image"
                    }
                ]
            }
        ]
    }
{% endschema %}
